* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Playfair Display", serif; }

p {
  font-family: "Playfair Display", serif;
  font-weight: 100; }

.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  padding: 0; }

.header {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 25% 10% 55%;
  width: 100%;
  height: 700px;
  justify-items: center;
  border-bottom: 5px solid #002d56; }
  .header picture {
    grid-row: 1 / 5;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header img {
    width: 100%; }
  .header h1 {
    font-size: 3vw; }
  .header button {
    font-size: 1.1vw; }

nav {
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0px 0 8%; }
  nav a {
    color: black;
    text-decoration: none;
    height: 100%;
    font-weight: 400; }
    nav a:hover {
      color: #002d56; }
  nav span {
    height: 34px; }
  nav .nav-left {
    margin-left: -5%; }
  nav .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 50px;
    margin-right: 3%;
    padding: 10px 20px 40px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6); }

h1 {
  grid-row-start: 2;
  grid-column-start: 1;
  align-self: center;
  text-align: center;
  color: white;
  font-weight: 600;
  align-self: end; }

.btn {
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vw;
  background-color: #002d56;
  border: none;
  width: 10%;
  height: 60%;
  grid-row-start: 3;
  grid-column-start: 1;
  align-self: end;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #597592; }
  .btn:hover {
    cursor: pointer;
    background-color: lightblue; }

.cards {
  background-color: #f4f6f9;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20%;
  width: 100%;
  border-bottom: 3px solid #002d56; }
  .cards .card {
    height: 100%;
    width: 100%;
    display: none;
    grid-column: 1 / 4;
    grid-row: 1 / span 2;
    text-align: center;
    padding: 8% 10% 10% 10%; }
  .cards p {
    font-weight: lighter;
    padding: 20px 20% 0 20%; }

#next-button {
  z-index: 1;
  text-align: center;
  grid-row-start: 2;
  justify-self: center;
  align-self: start;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: lighter; }

.see-more {
  display: none; }

.sections {
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  .sections .section {
    background-color: white;
    max-width: 35%;
    min-width: 500px;
    padding: 5%;
    margin: 2%; }

.sections-1 {
  background-color: #f3f3f3;
  border-bottom: 3px solid #002d56; }
  .sections-1 .section {
    background-color: #f3f3f3; }

.sections-2 {
  background-color: white; }

#get-started {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 2% 0 4% 0;
  background-color: rgba(0, 45, 86, 0.95);
  color: white;
  border-top: 3px solid lightgray; }
  #get-started h2 {
    padding: 1%; }
  #get-started .btn-group {
    width: 50%;
    margin: auto;
    max-width: 400px; }
  #get-started input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 200px; }
  #get-started button {
    height: 38px;
    width: 120px;
    font-size: 0.8em;
    color: #002d56;
    background-color: lightgray; }
    #get-started button:hover {
      color: white;
      background-color: gray; }

footer {
  font-family: "Times";
  width: 100%;
  height: 20%;
  max-height: 500px;
  background-color: rgba(0, 45, 86, 0.95);
  color: white;
  padding: 3% 0 4% 0; }
  footer ul {
    list-style-type: none;
    font-weight: 100; }
    footer ul li {
      font-size: .9em;
      margin-top: 2.5px; }
  footer > ul {
    width: 70%;
    border-top: 1px solid #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    padding-top: 4%;
    margin: auto; }
    footer > ul > li {
      padding: 25px; }
  footer span {
    font-weight: bold;
    font-size: 1em; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover {
      text-decoration: none;
      color: lightblue; }

#social {
  list-style-type: none;
  text-align: center;
  margin: 3% auto 5% auto; }
  #social ul {
    width: 40%;
    max-width: 550px;
    margin: 2% auto 0 auto;
    display: flex;
    justify-content: space-around; }
  #social i {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding-top: 25%; }
    #social i:hover {
      background-color: white;
      color: #002d56;
      cursor: pointer; }

@media only screen and (max-width: 1000px) {
  .header h1 {
    font-size: 2em; }
  .header .nav-right {
    width: 65%;
    font-size: .85em; }
  .header button {
    width: 120px;
    height: 35px;
    font-size: .8em;
    grid-row-start: 4;
    align-self: start; }

  .card p {
    padding: 5px 20% 0 20%; }

  footer {
    padding: 2% 0 3% 0; } }
@media only screen and (max-width: 750px) {
  .card p {
    font-size: 14px; }
  .card h2 {
    font-size: 24px; }

  #get-started .btn-group {
    width: 80%; }
    #get-started .btn-group input {
      width: 120px; }
    #get-started .btn-group button {
      width: 100px;
      font-size: 0.6em; } }
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%; }

  .cards {
    margin-bottom: 0; }

  .card:nth-child(3) p {
    padding: 0 5% 0 5%; }

  .header {
    height: 450px; }
    .header nav {
      padding: 0;
      margin: 0;
      justify-content: center; }
    .header .nav-left {
      display: none; }
    .header .nav-right {
      font-size: 1em;
      border-radius: 0;
      animation: smooth-grow 0.5s ease-in forwards;
      padding: 0;
      margin: 0;
      padding-top: 10px;
      justify-content: space-around;
      background-color: rgba(89, 117, 146, 0.6); }

  #next-button {
    display: none; }

  .see-more {
    display: inline;
    z-index: 1;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: end;
    background-color: white;
    color: gray;
    text-decoration: underline; }
    .see-more h3 {
      font-weight: 200; }
    .see-more:hover {
      color: black;
      cursor: pointer; }

  .section {
    max-width: 100%;
    min-width: 100% !important;
    padding: 0;
    margin: 0; }
    .section h2 {
      font-size: 1.2em; }
    .section p {
      font-size: 0.8em; }

  footer {
    max-height: 600px; } }
@keyframes smooth-grow {
  from {
    width: 55%;
    margin-right: 3%;
    margin-left: 3%; }
  to {
    width: 100%;
    margin-right: 0; } }
@media only screen and (min-width: 1500px) {
  .header {
    grid-template-rows: 25% 30% 15% 30%; }

  nav {
    padding-top: 20px; }

  footer {
    padding: 50px 0 70px 0; }
    footer > ul {
      padding-top: 60px; }
    footer #social {
      margin: 44px auto 74px auto; } }
@media only screen and (min-width: 2000px) {
  .container {
    max-width: 70%; } }

/*# sourceMappingURL=output.css.map */
